*{
    box-sizing: border-box;
}

.background{
    width: 1820px;
    height: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headtext{
    color: #0068FF;
}
.outerbox{
    width: 670px;
    height: 850px;
    border: 1px solid #aacdff;
    border-radius: 20px;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    padding: 70px 100px 70px 100px;
    display: flex;
    flex-direction: column;
}

.radio{
    /* padding: 0px 150px 0px 150px; */
    display: flex;
    justify-content: center;
}

.female{
    margin-right: 20px;
}


.mail {
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #0068FF;
    border-width: 1px;
    width: 100%;
}
.name {
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #CFCFCF;
    border-width: 1px;
    width: 100%;
}

.pw {
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #CFCFCF;
    border-width: 1px;
    width: 100%;
}

.line{
    width: 100%;
    border: 1px solid #e6e6e6;
}

.signupbox{
    width: 100%;
    height: 70px;
    border: 1px solid #0068ff;
    border-radius: 10px;
    background-color: white;
    color: #0068FF;
}

.agreetext{
    font-size: 14px;
}